html {
	background-color: black;
	font-family: Verdana;
	text-align:  center;
}

h1 {
	color: white;
	font-weight: normal;
	font-size: 50px;
}

h2 {
	color: white;
	font-weight: 300;
	font-size: 42px;
}

/* Styling for hyperlinks on webpage */
p a {
	color: aquamarine;
	font-size: 16px;
}

/* Styling for non-hyperlink p elements */
p {
	font-size: 21px;
	color: gray;
}

/* Styling for footer text */
#footer {
	text-align: right;
}

