html {
	background-color: black;
	font-family: Verdana;
	text-align:  center;
}

h1 {
	color: white;
	font-weight: normal;
	font-size: 50px;
}

/* Styling for hyperlinks on webpage */
p a {
	color: aquamarine;
	font-size: 16px;
}



